<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kontroll forespørsel</title>
    <style>
        * {
            font-family: "Source Sans Pro" !important;
        }
        .block {
            width: 100%;
            margin-top: 0;
        }
        .inline {
            display: inline-block;
        }
        .main_title {
            margin-bottom: 0;
            margin-top: 2mm;
            margin-left: 2mm;
            vertical-align: bottom;
        }
        h1 {
            font-size: 22px;
            margin-bottom: 0;
            margin-top: 0;
        }
        h6 {
            margin-bottom: 0;
            margin-top: 0;
        }
        p {
            font-size: 12px;
            margin-left: 1mm;
            margin-top: 0;
            margin-right: 1mm;
        }
        h5 {
            padding-top: 1mm;
            margin-left: 1mm;
            font-size: 12px;
            margin-top: 0;
        }
        h4 {
            padding-top: 2mm;
            margin-left: 1mm;
            font-size: 13px;
            margin-top: 0;
        }
        h3 {
            padding-top: 3mm;
            margin-left: 1mm;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            font-style: italic;
        }
        tr {
            font-size: 10px;
        }
        .bold {
            font-weight: bold;
        }

        .new_page {
            page-break-before: always;
        }
        .signature_date_title {
            font-size: 10px;
        }
        .centered_text_title {
            text-align: center;
            font-size: 12px;
        }
        .centered_text_plain {
            text-align: center;
            font-size: 12px;
        }
        .left_text_plain {
            text-align: left;
            font-size: 12px;
        }
        .right_text_plain {
            text-align: right;
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="centered_text_plain">
    <p>Unntatt offentlighet, jf. offl. § 13
    </p>
</div>
<div>
    <img src="pdf/navikon.png" alt="NAV logo">
</div>
<div class="left_text_plain">
    <p>
        {{ bedriftsnavn }}
    </p>
</div>

<div class="centered_text_plain">
    <p>
        Vår ref.: {{ navReferanse }} - Dato: {{ oprettetDato }}
    </p>
</div>

<div class="line_top line_bottom line_left line_right block" style="vertical-align: bottom">
    <div class="line_right inline" style="width: 66%; margin: 0; vertical-align: bottom">
        <h1 class="main_title">Tilsagn om tilskudd til Midlertidig lønnstilskudd</h1>
    </div>
</div>
<div class="left_text_plain" >
    <p>
        NAV {{ navKontor }} gir {{ bedriftnavn }} tilsagn om tilskudd med inntil {{ tilskuddTotalt }} for
    </p>
    <p>
        {{ deltakerNavn }} - {{ deltakerFnr }}
    </p>
</div>
<div class="left_text_plain" >
    <p>
        Tilsagnet fordeler slik:
    </p>
    <p>
        Lønnstilskudd - {{ tilskuddLonn }} kr
    </p>
    <p>
        Totalt - {{ tilskuddTotalt }} kr
    </p>
</div>
<div class="left_text_plain">
    <p>
        Tilsagnet skal benyttes innen {{ fraDato }} til {{ tilDato }}. Tilsagnet er gitt under forutsetning av at vilkår og regelverk for tiltak følges, se vedlegg.
    </p>
</div>
<div class="left_text_plain">
    <p>
        Refusjonskravet må fremmes innen {{ fristRefusjonskrav }}. Tilsagnet trekkes tilbake dersom refusjonskravet ikke blir sendt NAV {{ navKontor }} i rett tid.
    </p>
</div>
<div class="left_text_plain">
    <p>
        NAV og Riksrevisjonen kan kontrollere bruken av midlene, i henhold til vilkårene i Bevilgningsregelementet § 10.
    </p>
</div>
<div class="left_text_plain">
    <p>
        Mottakers organisasjonsnummer: - {{ orgNummer }}
    </p>

    Mottakers bedriftsnummer: - {{ bedriftsNummer }}

    <p>
        Mottakers kontonummer: - {{ kontoNummer }}
    </p>
</div>
<div class="left_text_plain">
    <p>
        Skjema for refusjonskrav finnes på www.nav.no.
    </p>
</div>
<div class="left_text_plain">
    <p>
        Vedlagt følger kravsprsifikasjon med regler for denne tilskuddsordningen.
    </p>
</div>
<div class="left_text_plain">
    <p>
        Med hilsen
    </p>
</div>
<div class="left_text_plain">
    <p>
        {{ navnSaksbehandler }}
    </p>
</div>
</body>
</html>
